In [47]:
from dotenv import load_dotenv

load_dotenv()

True

In [1]:
import requests
import pandas as pd
import time

In [48]:
import os

In [49]:
# youtube api-key
API_KEY = os.getenv("API_KEY")

CHANNEL_ID = os.getenv("CHANNEL_ID") # we can change it later

In [8]:
# api calling

pageToken = ""
url = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=10000"+pageToken

response = requests.get(url).json()

Below are the details about first video. Like videoId, title, description, thumbnail(url height width), published time etc.

In [13]:
response['items'][0]

{'kind': 'youtube#searchResult',
 'etag': 'tJStzweYNGk6fOiOaoSlH2YcTZk',
 'id': {'kind': 'youtube#video', 'videoId': 'VEjxlKBkZGM'},
 'snippet': {'publishedAt': '2022-02-08T03:13:06Z',
  'channelId': 'UCW8Ews7tdKKkBT6GdtQaXvQ',
  'title': 'Amazon Data Science Interview Question Walkthrough | How to Deal with Streaks in SQL',
  'description': 'This walkthrough has been requested by multiple users on StrataScratch as it seems to have become quite a popular question.',
  'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/VEjxlKBkZGM/default.jpg',
    'width': 120,
    'height': 90},
   'medium': {'url': 'https://i.ytimg.com/vi/VEjxlKBkZGM/mqdefault.jpg',
    'width': 320,
    'height': 180},
   'high': {'url': 'https://i.ytimg.com/vi/VEjxlKBkZGM/hqdefault.jpg',
    'width': 480,
    'height': 360}},
  'channelTitle': 'StrataScratch',
  'liveBroadcastContent': 'none',
  'publishTime': '2022-02-08T03:13:06Z'}}

In [16]:
# grab the video ID

video_id = response['items'][0]['id']['videoId']
video_id

'VEjxlKBkZGM'

In [19]:
# grab the video Title

video_title = response['items'][0]['snippet']['title']
video_title

'Amazon Data Science Interview Question Walkthrough | How to Deal with Streaks in SQL'

In [20]:
video_title = str(video_title).replace("|", "")
video_title

'Amazon Data Science Interview Question Walkthrough  How to Deal with Streaks in SQL'

In [22]:
# grab the uploaded time

upload_date = response['items'][0]['snippet']['publishedAt']
upload_date

'2022-02-08T03:13:06Z'

Now we did all this for a single instance. But we need to grab all videos related data. So we will use for loop to grab every video. But we also need to grab statistics related to each video.

We can make another api call to get statistics related to a particular ID

In [24]:
# make another api call this time to get video statistics

url_video_stats = "https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_KEY

response_video_stats = requests.get(url_video_stats).json()

In [33]:
response_video_stats

{'kind': 'youtube#videoListResponse',
 'etag': 'X3Nz3mDQEQT2WD0MKcvuGSYQ3-A',
 'items': [{'kind': 'youtube#video',
   'etag': 'gE7TfBNQxSFobzVFynjmh7bj5sY',
   'id': '5-1ClCuQCIw',
   'statistics': {'viewCount': '3171',
    'likeCount': '31',
    'favoriteCount': '0',
    'commentCount': '10'}}],
 'pageInfo': {'totalResults': 1, 'resultsPerPage': 1}}

In [35]:
view_count = response_video_stats['items'][0]['statistics']['viewCount']
like_count = response_video_stats['items'][0]['statistics']['likeCount']
favorite_count = response_video_stats['items'][0]['statistics']['favoriteCount']
comment_count = response_video_stats['items'][0]['statistics']['commentCount']

Since we are collecting statistics related to each video in variables. We can instead create a dataframe and store each variable values in columns. That would lead us to 7 columns in dataframe.

In [41]:
# calling this function to collect each video stat

def get_video_details(video_id):
    
    # collect video statistics
    url_video_stats = "https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_KEY

    response_video_stats = requests.get(url_video_stats).json()
        
    view_count = response_video_stats['items'][0]['statistics']['viewCount']
    like_count = response_video_stats['items'][0]['statistics']['likeCount']
    favorite_count = response_video_stats['items'][0]['statistics']['favoriteCount']
    comment_count = response_video_stats['items'][0]['statistics']['commentCount']
    
    return view_count, like_count, favorite_count, comment_count

In [42]:
def get_videos(data):
    
    # make api call
    pageToken = ""
    url = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=10000"+pageToken
    response = requests.get(url).json()
    time.sleep(1)
    
    for video in response['items']:

        if video['id']['kind'] == 'youtube#video':

            video_id = video['id']['videoId']
            video_title = video['snippet']['title']
            upload_date = video['snippet']['publishedAt']

            view_count, like_count, favorite_count, comment_count = get_video_details(video_id)

            # append each video related data in a dataframe
            data = data.append(
                {
                    'video_id': video_id,
                    'video_title': video_title,
                    'upload_date': upload_date,
                    'view_count': view_count,
                    'like_count': like_count,
                    'favorite_count': favorite_count,
                    'comment_count': comment_count
                }, ignore_index=True
            )
    return data

In [39]:
data.head()

,video_id,video_title,upload_date,view_count,like_count,favorite_count,comment_count
0,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,2022-02-08T03:13:06Z,4376,160,0,16
1,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,2022-01-27T06:23:05Z,2639,82,0,5
2,ToEl_tpyoM4,Uber Data Science Python Interview Question Wa...,2022-01-10T05:46:03Z,16789,433,0,23
3,30hS-MjpU6E,SQL Syntax Best Practices: How to Structure Yo...,2021-12-22T03:32:13Z,8307,386,0,42
4,Bgpp99iz0I0,Most Common Coding Mistakes on Data Science In...,2021-11-04T01:53:13Z,3910,189,0,30

In [43]:
# create empty dataframe

data = pd.DataFrame(columns=["video_id", "video_title", "upload_date", "view_count", "like_count", "favorite_count", "comment_count"])

data = get_videos(data)

In [45]:
data

,video_id,video_title,upload_date,view_count,like_count,favorite_count,comment_count
0,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,2022-02-08T03:13:06Z,4377,160,0,16
1,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,2022-01-27T06:23:05Z,2639,82,0,5
2,ToEl_tpyoM4,Uber Data Science Python Interview Question Wa...,2022-01-10T05:46:03Z,16790,433,0,23
3,30hS-MjpU6E,SQL Syntax Best Practices: How to Structure Yo...,2021-12-22T03:32:13Z,8307,386,0,42
4,Bgpp99iz0I0,Most Common Coding Mistakes on Data Science In...,2021-11-04T01:53:13Z,3911,189,0,30
5,GeJUvdkJKEc,Multiple Solutions to Data Scientist Interview...,2021-10-11T06:50:13Z,6077,175,0,34
6,GGURenNfXI0,Multiple Approaches for Solving a Twitter Data...,2021-09-13T06:06:10Z,4217,174,0,32
7,PlpUo6bHsBQ,Advanced Facebook Data Science SQL interview q...,2021-08-09T02:18:01Z,15710,487,0,58
8,uY2wfR8Dkqo,5 Tips for a Successful Data Science Interview,2021-07-26T03:43:39Z,7985,228,0,40
9,yY7yau9j3xk,Data Science SQL Scenario Based Interview Ques...,2021-07-20T05:18:03Z,5705,155,0,27
10,i-E4pdU2qXM,Data Science SQL Interview Question Walkthroug...,2021-07-13T01:34:56Z,5256,204,0,22
11,T1UhSuKqy3A,Most Common Data Science SQL Interview Questio...,2021-06-15T05:10:20Z,8788,313,0,36
12,2iE3JgNTwVU,A Walkthrough of Data Science SQL Interview Qu...,2021-06-04T05:36:49Z,4443,149,0,30
13,RgKMbpEylWA,Comparing FAANG vs Non-FAANG Data Science Inte...,2021-05-24T05:01:10Z,2341,80,0,13
14,giGIPINLqJs,An Analysis of 900 Data Science Interview Ques...,2021-05-13T06:23:40Z,3256,133,0,10
15,77IVf0zgmwI,Importing a Pandas Dataframe to a Database in ...,2021-05-05T17:55:05Z,11097,400,0,49
16,xtbMCAVXDmU,Facebook and Microsoft Data Science SQL interv...,2021-04-15T10:49:41Z,7629,231,0,59
17,fklHBWow8vE,Working with APIs in Python [For Your Data Sci...,2021-04-02T03:05:38Z,26158,1273,0,93
18,tNXliLTlrV8,Step-by-step Approach to Solving Any Data Scie...,2021-03-24T18:30:06Z,7629,270,0,37
19,XRwxYOhHdE8,Facebook&#39;s Most Common Data Science SQL In...,2021-03-10T18:30:07Z,26296,647,0,51
20,pV_mnZgzXEo,Coding Concepts in Data Science Interviews in ...,2021-03-03T18:30:05Z,4735,254,0,27
21,c4Af2FcgamA,The One and Only Data Science Project You Need,2021-02-24T18:30:11Z,167146,9981,0,220
22,QenwDm5oWdU,Advanced Data Science SQL Interview Question [...,2021-02-17T18:30:02Z,17748,622,0,97
23,TYHWv1vT0Pk,Common Date Manipulations on Data Science SQL ...,2021-02-11T08:00:16Z,13077,494,0,80
24,0GpgMvyN0Fg,How I Learned Data Science (resources to get a...,2021-02-04T08:00:02Z,10674,661,0,45
25,VYeevsVj4fU,Advanced SQL Questions From Amazon (Handling c...,2021-01-27T08:00:17Z,16905,497,0,66
26,vLjAG9eXkcU,Solving Complex SQL Interview Questions [How t...,2021-01-20T08:00:30Z,8815,284,0,56
27,lG0PbUq4wkg,Top Data Science Interview Questions in 2021 [...,2021-01-13T08:00:21Z,4477,167,0,22
28,j8kGqAAIhxA,Top Data Science Interview Question And Answer...,2021-01-06T08:00:09Z,4193,141,0,29
29,W_IERUwElkg,SQL Case Statements For Data Science Interview...,2020-12-28T08:00:18Z,26051,954,0,84
30,eC7MdwKCCOE,Tricky Data Science Interview Question [By Fac...,2020-12-22T08:00:18Z,4151,139,0,26
31,XBE09l-UYTE,SQL Window Functions on Data Science Interview...,2020-12-17T08:00:16Z,49047,1666,0,140
32,C0hk-dZ9XSE,SQL Window Functions In a Data Science Intervi...,2020-12-10T08:00:02Z,3461,122,0,22
33,N0aHeKyNEto,Applying Software Engineering Principles To Yo...,2020-12-03T08:00:04Z,1966,80,0,24
34,TDwy1lSjEZo,Automating Your Data Science Tasks In Python (...,2020-11-24T08:00:08Z,6665,197,0,52
35,EPUayNC5ku4,SQL Coding Interview Question Using A Window F...,2020-11-19T08:00:05Z,47908,1412,0,106
36,wqBFgaMgFQA,Solve Data Science Tasks In Python (Saving Hou...,2020-11-15T08:00:10Z,12646,431,0,47
37,IKw0lkmBHNI,Solving an Airbnb Data Science Coding Intervie...,2020-11-11T08:00:06Z,4876,112,0,18
38,_gy1o9UH2dQ,Hard SQL Interview Question From FACEBOOK | Da...,2020-11-04T08:00:04Z,19371,409,0,68
39,7Q-2DEwHW7w,Solving a SQL Interview Question by FACEBOOK |...,2020-10-29T07:00:03Z,5597,102,0,16
40,pFwYjaeKFvQ,Solving a Facebook Data Science Interview Ques...,2020-10-22T07:00:06Z,4398,70,0,19
41,iR8FDQyCtnw,SQL Interview Questions From MICROSOFT | Expen...,2020-10-20T07:00:05Z,2020,51,0,4
42,1SgHHQeRuxs,How I Prepare For My Data Science Interviews (...,2020-10-18T15:59:35Z,4292,128,0,17
43,UndSRKwsxKM,YELP SQL Data Science Interview Questions | Co...,2020-10-10T07:00:04Z,1977,37,0,14
44,U9P4M4EPTgI,Intro to Real Data Science Interview Questions...,2020-09-23T07:00:04Z,2714,49,0,6
45,S7gKkRxlk1U,Real Data Science Interview Question From Face...,2020-09-23T07:00:06Z,4890,84,0,12
46,rMoUoYxfBNk,How To Discuss Trade-offs in a Data Science In...,2020-09-20T07:00:16Z,929,27,0,6
47,60NaEc7NP_U,My Data Science Career Path (From Novice to Yo...,2020-09-13T18:19:50Z,1887,67,0,5
48,5-1ClCuQCIw,How to Organize Data Science Interview Solutio...,2020-08-30T20:00:01Z,3171,31,0,10